<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="NovaPay Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <php>
        <env name="NOVAPAY_TEST_MODE" value="true"/>
        <server name="HTTP_USER_AGENT" value="NovaPay-PHP-Tests"/>
    </php>
</phpunit>
